*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background: #000;
}
.netflix{
    width: 150px;
    height:250px;
    position:absolute;
    top:50%;
    left:75%;
    transform: translate(-50%,-75%);
}
.netflix span{
    width:50px;
    height:0;
    background: #db0001;
    position:absolute;
}
.left{
    left:0;
    bottom:0;
    animation:anim 1s linear forwards;
    animation-delay: 0s; 
}
.center{
    top:0;
    left:0;
   transform:skewX(22deg);
    transform-origin: top left;
    box-shadow: 0 0 50px #000;
    z-index:2;
    background-color: #000;
    animation:anim 1s linear forwards;
    animation-delay: 0.7s;
}
.right{
    right:0;
    bottom:0;
    animation:anim 1s linear forwards;
    animation-delay: 1.2s;
}
.netflix::after{
    content:'';
    width:120%;
    height:20px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    left:-10%;
    bottom:-10px;
    z-index:5;

}
@keyframes anim {
    100%{
        height:100%;
    }
}
.netfliximg{
    height: 250px;
    width:400px;
    margin-bottom:15px;
    margin-left:300px;
    margin-right: 500px;
    margin-top: 10%;
    animation:anim is linear forwards;
    animation-delay: 4s;
}
.getstar{
    border:2px solid #db0001;
    font-family: 'Times New Roman';
    width: 500px;
    font-size:30px;
    text-align: center;
    padding:5px;
    font-weight:bold;
    border-radius:15px;
    color: aliceblue;
    margin-right:200px;
    animation:anim is linear forwards;
    animation-delay: 5s;
}
.klop{
    align-items: center;

}
.pop2{
    color:aliceblue;
}


